.label {
    color: rgb(92, 86, 86);
    position: relative;
    top: 2.6rem;
    left: 1rem;
    margin-top: 0;
    z-index: -1;
    transition: 0.5s all;
}


.label2 {
    transition: 0.5s all;
    color: #0be5e5b6;
    top: 0;
}