.label {
    color: rgb(50, 46, 46);
    position: relative;
    top: 2.6rem;
    left: 1rem;
    margin-top: 0;
    z-index: -1;
    transition: 0.5s all;
}
input{
    color: gray;
}
div.f {
    /* filter: grayscale(4%) sepia(17%) brightness(84%) hue-rotate(46deg) saturate(166%) contrast(97%) invert(6%) drop-shadow(13px -23px 163px #000000); */
    backdrop-filter: blur(5px);
}

h1 {
    font-size: 1.4rem;
}

.label2 {
    transition: 0.5s all;
    color: #01ffff;
    top: 0;
}

